@page
@model OperatorsModel
@{
    ViewData["Title"] = "Operatorzy";
    ViewData["TitleBar"] = "Operatorzy";
}
@section Styles
    {
    <environment names="Production">
        <link rel="stylesheet" href="~/css/pages/operators.min.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/pages/operators.css" asp-append-version="true" />
    </environment>
}
<main class="main mdc-toolbar-fixed-adjust">
</main>
@section Scripts{
    <environment names="Production">
        <script src="~/js/pages/operators.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/pages/operators.js" asp-append-version="true"></script>
    </environment>
}


