@page
@model SchoolsModel
@{
    ViewData["Title"] = "Szkoły";
    ViewData["TitleBar"] = "Szkoły";
}
@section Styles
    {
    <environment names="Production">
        <link rel="stylesheet" href="~/css/pages/schools.min.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/pages/schools.css" asp-append-version="true" />
    </environment>
}
@Html.AntiForgeryToken()
<main>
    <div id="search">
        <div id="search_side">
            <div class="mdc-text-field" id="search_textfield">
                <div id="search_textfield_label">Wyszukiwanie</div>
                <input type="text" id="search_textfield_inner" class="mdc-text-field__input">
                <div class="mdc-line-ripple"></div>
            </div>
            <div id="search_pagesbuttons">
                <div id="search_pagesbuttons_bg"></div>
                <button class="mdc-button" id="search_pagesbuttons_back">
                    <
                </button>
                <div id="search_pagesbuttons_number">1/1</div>
                <button class="mdc-button" id="search_pagesbuttons_next">
                    >
                </button>
            </div>
            <div id="search_info">
                Nie znaleziono wyników!
            </div>
            <div id="search_loading">
                <div id="search_loading_main"></div>
            </div>
            <div id="search_panel">
                <div class="mdc-list" id="search_panel_inner">
                </div>
            </div>
        </div>
        <div id="search_selection">
            Wybierz szkołę z menu po lewej stronie...
        </div>
    </div>
</main>
@section Scripts{
    <environment names="Production">
        <script src="~/js/pages/schools.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/pages/schools.js" asp-append-version="true"></script>
    </environment>
}
