<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cherry</title>
    <link rel="stylesheet" href="~/css/global/core.min.css" />
    <link rel="stylesheet" href="~/lib/mdc/Test.min.css" />
    @RenderSection("Styles", required: false)
</head>
<body class="mdc-typography">
    @RenderBody()
    <script src="~/js/other/core.min.js"></script>
    <script src="~/lib/mdc/material-components-web.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>window.mdc.autoInit();</script>
</body>
</html>