<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cherry</title>
    @RenderSection("Styles", required: false)
</head>
<body class="mdc-typography">
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>