@{
    Layout = "_BasicLayout";
}
@section Styles{
    @await RenderSectionAsync("Styles", required: false)
}
<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <button class="material-icons mdc-toolbar__menu-icon menu">menu</button>
            <span class="mdc-toolbar__title catalog-title">@ViewData["Title"]</span>
            @await RenderSectionAsync("ToolBar", required: false)
        </section>
    </div>
</div>
@await Html.PartialAsync("AdditionalViews/_Menu.cshtml", new Cherry.Web.Pages.AdditionalViews._MenuModel())
@RenderBody()
@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
}