@page
@model IndexModel
@{
    ViewData["Title"] = "Panel";
}
@section Styles
{
    <environment names="Production">
    <link rel="stylesheet" href="~/css/pages/index.min.css" asp-append-version="true"/>
    </environment>
    <environment names="Development">
    <link rel="stylesheet" href="~/css/pages/index.css" asp-append-version="true"/>
    </environment>
}
<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <button class="material-icons mdc-toolbar__menu-icon menu">menu</button>
            <span class="mdc-toolbar__title catalog-title">Panel Główny</span>
        </section>
    </div>
</div>
@Html.Partial("AdditionalViews/_Menu.cshtml", Model._MenuModel)
<main class="main mdc-toolbar-fixed-adjust">
    <h1 class="mdc-typography--display1">Aktualna data: @DateTime.Now.ToLongDateString()</h1>
    <p class="mdc-typography--body1">Więcej opcji w menu na górze...</p>
</main>
@section Scripts{
    <environment names="Production">
        <script src="~/js/pages/index.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/pages/index.js" asp-append-version="true"></script>
    </environment>
}