$mdc-theme-primary: #b71c1c; // Red 900
$mdc-theme-secondary: #1565c0; // Blue 800

@import "../MDC/@material/button/mdc-button.scss";
@import "../MDC/@material/typography/mdc-typography.scss";
@import '../MDC/@material/theme/mdc-theme.scss';
@import '../MDC/@material/elevation/mdc-elevation.scss';

.margindown {
    margin-bottom: 20px;
}

.marginup {
    margin-top: 20px;
}

html {
    width: 100%;
    height: 100%;
}