$mdc-theme-secondary: #b71c1c; // Red 900
$mdc-theme-primary: #1565c0; // Blue 800

@import "@material/button/mdc-button";
@import "@material/typography/mdc-typography";
@import '@material/theme/mdc-theme';
@import '@material/elevation/mdc-elevation';
@import 'icons';

.margindown {
    margin-bottom: 20px;
}

.marginup {
    margin-top: 20px;
}

#paddingleft {
    padding-left: 2em;
}
html {
    width: 100%;
    height: 100%;
}

.slideable {
    height: 0px;
    //background: rgba(black, 0.035);
    overflow: hidden;
    transition: height 400ms ease;
    -moz-transition: height 400ms ease;
    -ms-transition: height 400ms ease;
    -o-transition: height 400ms ease;
    -webkit-transition: height 400ms ease;
}

#expanded {
    height: 98px;
}

#logout{
    bottom: 8px;
    position: absolute;
    right: 8px;
}