$mdc-theme-secondary: #b71c1c; // Red 900
$mdc-theme-primary: #1565c0; // Blue 800

@import "@material/button/mdc-button";
@import "@material/typography/mdc-typography";
@import '@material/theme/mdc-theme';
@import '@material/elevation/mdc-elevation';
@import '@material/textfield/mdc-text-field';
@import '@material/form-field/mdc-form-field';
@import '@material/linear-progress/mdc-linear-progress';
@import '@material/checkbox/mdc-checkbox';


body {
    background: linear-gradient(235deg, #ff0000, #0091ff, #ff0000, #0091ff);
    background-size: 800% 800%;
    -webkit-animation: GradientBG 35s ease infinite;
    -moz-animation: GradientBG 35s ease infinite;
    -o-animation: GradientBG 35s ease infinite;
    animation: GradientBG 35s ease infinite;
}

@-webkit-keyframes GradientBG {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes GradientBG {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@-o-keyframes GradientBG {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes GradientBG {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@media (max-width:425px) {
    #logincard {
        width: 100%;
    }

    .logo-text {
        font-size: 17vw;
    }
}

@media (min-width:425px) {
    #logincard {
        width: 425px;
    }

    .logo-text {
        font-size: 4.5rem;
    }
}

@media (min-height:768px) {
    #logincard {
        height: 768px;
    }
}

@media (max-height:768px) {
    #logincard {
        height: 100%;
    }
}

@media (max-height:512px) {
    #logincard {
        height: 100%;
        overflow-y: scroll;
    }

    .mdc-button {
        margin-bottom: 60px;
    }
}

#logincard {
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-text {
    font-weight: normal;
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

#loginform {
    text-align: center;
}

.mdc-text-field {
    width: 60%;
    min-width: 240px;
}

.center {
    font-size: 16px;
}
#error_message {
    color: $mdc-theme-secondary;
}

.margindown {
    margin-bottom: 20px;
}

.marginup {
    margin-top: 20px;
}

html {
    width: 100%;
    height: 100%;
}